/* Special grid styles
-------------------------------------------------- */
.response-point {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
  }
  .response-point {
    background-color: #eee;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
  }
  .response-point:hover  {
    background: #ddd;
  }
 
  
