{% extends "base.html" %}


{% block content %}

<div>
  <section class="hero-wrap">
    <div class="rounded-5 bg-style hero-inner" style="background-image: url(/template/static/img/faq-hero-bg.jpg);">
      <div class="container-xl"> 
        <div class="row align-items-center"> 
          <div class="col-12 col-md-6 ps-0 pe-0 pe-lg-4 hero-thumb">
            <figure> <img src="template/static/img/sopho_brain2.jpg" alt="hero-thumb" class="w-100"> </figure> 
          </div>
          <div class="col-12 col-md-6 text-center text-md-start ms-auto me-auto mt-3 mt-md-0 ps-0 pe-0 about-text">
            <h4 class="d-block mt-3 mt-md-4 pb-3 fw-medium">Ever want to know what's in a book without having to read the whole book?</h4>
            <p>As we were playing around with gpt4, we were struck by the amount of knowledge the model possessed. It's basically read every book (except really recent ones not in its training data). It can process questions about the book intelligently.  Such as summarizing sections, producing multiple choice questions, and analyzing the text according to what other respected thinkers have written.</p>
            <p>So we thought how can we leverage these abilities create an interface that allows easier understanding of the content of a book, something that allows us to quickly figure out what interests us, and dive deep when we find something interesting?</p>
            <p>The result is a Sopho.ai.  It's a work in progress, an experiement in information visualization.  We hope you enjoy.</p>
          </div> 
        </div> 
      </div> 
    </div> 
  </section>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}

{% block page_title %}About Sopho.ai{% endblock %}
{% block about_active %}ps-1 pe-1 active{% endblock %}
