<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Sopho | Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
</head>

<body>
  <main class="main-wrap">

      <!-- Beginning header section -->
      {% block header %}
      <header class="pb-2 pb-md-4 bg-black-dark header-wrap">
        <div class="container-xl">
            <div class="row">
                <nav class="navbar p-0 navbar-expand-lg">
                    <a class="navbar-brand" href="/"><img class="w-100" src="{{ url_for('static', path='/svgs/logo.svg') }}" alt="logo"></a>
                    <div class="navbar-button-wrap d-flex align-items-center">
                        <div class="d-lg-none d-flex align-items-center me-2 header-search-wrap">
                            <div class="header-search">
                                <input type="search" placeholder="Search here">
                            </div>
                            <div class="header-search-icon">
                                <a href="#" class="search-trigger"><img src="{{ url_for('static', path='/svgs/search.svg') }}" alt=""></a>
                            </div>
                        </div>
                    
                    <button class="navbar-toggler bg-merun" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
                    <div class="collapse d-lg-flex justify-content-between w-100 text-center text-lg-start navbar-collapse" >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="me-lg-3 nav-item">
                                <a class="nav-link ps-1 pe-1 text-light-gray fw-medium active" aria-current="page" href="index.html">Home</a>
                            </li>
                            <li class="me-lg-3 nav-item">
                                <a class="nav-link  text-light-gray fw-medium" href="#">About</a>
                            </li>
                            <li class="me-lg-3 nav-item">
                                <a class="nav-link text-light-gray fw-medium" href="#">Contact</a>
                            </li>
                        </ul>
                       <!-- Begin search -->
                        <div class="d-lg-flex d-none align-items-center header-search-wrap">
                            <div class="header-search">
                                <input type="search" placeholder="Search here">
                            </div>
                            <div class="header-search-icon">
                                <a href="#" class="search-trigger"><img src="{{ url_for('static', path='/svgs/search.svg') }}" alt=""></a>
                            </div>
                        </div>
                        <!-- End search -->
                        <div class="btn-group d-block d-lg-flex ">
                            <a href="#" class="mt-3 mt-md-0 d-block ms-md-2 rounded border-0 btn btn-secondary btn-sm">Login</a>
                            <a href="#" class="btn mt-3 mt-lg-0 d-block ms-lg-3  rounded border-0 btn btn-primary btn-ex-md">
                                <svg class="me-1" width="17" height="20" viewBox="0 0 17 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <g clip-path="url(#clip0_301_71)">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.34783 7.99999C6.49753 7.99999 4.9928 6.56479 4.9928 4.79999C4.9928 3.03519 6.49753 1.59999 8.34783 1.59999C10.1981 1.59999 11.7029 3.03519 11.7029 4.79999C11.7029 6.56479 10.1981 7.99999 8.34783 7.99999ZM11.4999 8.53837C12.831 7.51677 13.6068 5.86474 13.3217 4.05594C12.9903 1.95754 11.1602 0.278381 8.9509 0.0335815C5.90202 -0.304819 3.31529 1.95919 3.31529 4.79999C3.31529 6.31199 4.05003 7.65917 5.19578 8.53837C2.38091 9.54717 0.325952 11.916 0.00386844 15.1128C-0.0431014 15.5856 0.343569 16 0.841791 16C1.26872 16 1.63274 15.6928 1.67048 15.2872C2.00683 11.7168 4.87286 9.59999 8.34783 9.59999C11.8228 9.59999 14.6888 11.7168 15.0252 15.2872C15.0629 15.6928 15.4269 16 15.8539 16C16.3521 16 16.7388 15.5856 16.6918 15.1128C16.3697 11.916 14.3147 9.54717 11.4999 8.53837Z" fill="currentColor"/>
                                     </g>
                                     <defs>
                                        <clipPath id="clip0_301_71">
                                            <rect width="16.6957" height="16" fill="white"/>
                                        </clipPath>
                                    </defs>
                                </svg> Sign up</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
      <!-- End header section -->
      {% endblock %}

  
    <!-- Beginning main content section -->
    <section class="main-content-wrap hp">

        {% block content %}{% endblock %}
      
    </section>
    <!-- End main content section -->

      {% block footer %}
      <section class="footer">
        <div class="container-xl">
            <div class="row">
                <p class="text-center text-white">&copy; 2023 Copyright: Sopho.ai</p>
            </div>
        </div>
    </section>
  {% endblock %}

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', path='/js/json5.js') }}"></script>
    <script src="{{ url_for('static', path='/js/common-scripts.js') }}"></script>
    <script src="{{ url_for('static', path='/js/app.js?1') }}"></script>

    {% block javascript %}
    {% endblock %}

  </body>
</html>


