<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Sopho | Home</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/bootstrap.new.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='/css/app.css') }}">
</head>

<body>
  <main class="float-start w-100 main-wrap">

      <!-- Beginning header section -->
      {% block header %}
      <header class="float-start w-100 cod-gray-bg header-wrap position-relative">
          <div class="container">
              <div class="w-100 d-flex flex-row flex-wrap align-items-center header-inner">
                  <div class="logo-wrap d-flex align-items-center justify-content-between">
                      <div class="main-logo float-start">
                          <a href="/"><img src="{{ url_for('static', path='/svgs/logo.svg') }}" alt="logo"></a>
                      </div>
                      <div class="hamburger-wrap d-flex flex-row flex-wrap">
                          <div class="header-search-wrap position-relative d-flex d-lg-none">
                              <div class="header-search">
                                  <input type="search" placeholder="Search here">
                                  <input type="submit" value="submit">
                              </div>
                              <div class="header-search-icon">
                                  <img src="{{ url_for('static', path='/svgs/search.svg') }}" alt="search">
                              </div>
                          </div>
                          <div class="hamburger d-flex align-items-center">
                              <div class="w-100 position-relative"></div>
                          </div>
                      </div>
                  </div>
                  <div class="nav-wrap">
                      <div class="nav-inner">
                      <nav class="main-nav">
                          <ul class="w-100 p-0 m-0 list-unstyled d-block d-md-flex d-lg-flex flex-row flex-wrap align-items-center">
                              <li class=""><a href="#" class="active">Home</a></li>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Contact</a></li>
                          </ul>
                      </nav>
                      <div class="header-btn-wrap d-flex flex-row flex-wrap align-items-center position-relative">
                          <div class="header-search-wrap position-relative d-none d-lg-block">
                              <div class="header-search">
                                  <input type="search" placeholder="Search here">
                                  <input type="submit" value="submit">
                              </div>
                              <div class="header-search-icon">
                                  <img src="{{ url_for('static', path='/svgs/search.svg') }}" alt="search">
                              </div>
                          </div>
                          <div class="header-btn d-flex">
                              <a href="#" class="btn login-btn">Login</a>
                              <a href="#" class="btn sign-btn"><img src="{{ url_for('static', path='/svgs/profile.svg') }}" alt="profile"> Sign up</a>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </header>
      <!-- End header section -->
      {% endblock %}

  
    <!-- Beginning main content section -->
    <section class="main-content-wrap section">

      <div class="container">
        {% block content %}{% endblock %}
      </div>
      
    </section>
    <!-- End main content section -->

      {% block footer %}
      <footer class="text-center text-lg-start bg-white text-muted">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
          © 2023 Copyright: Sopho.ai
        </div>
      </footer>
      {% endblock %}

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', path='/js/jquery-3.7.1.js') }}"></script>
    <script src="{{ url_for('static', path='/js/json5.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap-tab.js') }}"></script>
    <script src="{{ url_for('static', path='/js/app.js?1') }}"></script>

    {% block javascript %}
    {% endblock %}

  </body>
</html>


