<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>{% block page_title %}{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="template/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="template/static/css/style.css">
  <link rel="icon" href="template/static/svgs/favicon.svg">
</head>

<body>
  <main class="main-wrap">

      <!-- Beginning header section -->
      {% block header %}
      <header class="pb-2 pb-md-4 bg-black-dark header-wrap">
        <div class="container-xl">
            <div class="row">
                <nav class="navbar p-0 navbar-expand-lg">
                    <a class="navbar-brand" href="/"><img class="w-100" src="template/static/svgs/logo.svg" alt="logo"></a>
                    <div class="navbar-button-wrap d-flex align-items-center">
                        <div class="d-lg-none d-flex align-items-center me-2 header-search-wrap">
                            <div class="header-search">
                                <input type="search" placeholder="Search here">
                            </div>
                            <div class="header-search-icon">
                                <a href="#" class="search-trigger"><img src="template/static/svgs/search.svg" alt=""></a>
                            </div>
                        </div>
                    
                    <button class="navbar-toggler bg-merun" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    </div>
                    <div class="collapse d-lg-flex justify-content-between w-100 text-center text-lg-start navbar-collapse" >
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <!-- to create space -->
                        </ul>
                        <div class="d-lg-flex d-none align-items-center header-search-wrap">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="me-lg-3 nav-item">
                                    <a class="nav-link text-light-gray fw-medium {% block home_active %}{% endblock %}" href="/">Home</a>
                                </li>
                                <li class="me-lg-3 nav-item">
                                    <a class="nav-link text-light-gray fw-medium {% block about_active %}{% endblock %}" href="/about">About</a>
                                </li>
                                <li class="me-lg-3 nav-item">
                                    <a class="nav-link text-light-gray fw-medium {% block contact_active %}{% endblock %}" href="/contact">Contact</a>
                                </li>
                            </ul>
                            </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
      <!-- End header section -->
      {% endblock %}

  
    <!-- Beginning main content section -->
    <section class="main-content-wrap {% block container_class %}{% endblock %}">

        {% block content %}{% endblock %}
      
    </section>
    <!-- End main content section -->

      {% block footer %}
      <section class="footer">
        <div class="container-xl">
            <div class="row">
                <p class="text-center text-white">&copy; 2023 Copyright: Sopho.ai</p>
            </div>
        </div>
      </section>
      {% endblock %}

    </div> <!-- /container -->


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="template/static//js/bootstrap.bundle.min.js"></script>
    <script src="template/static/js/jquery-3.7.1.js"></script>
    <script src="template/static//js/json5.js"></script>
    <script src="template/static//js/common-scripts.js"></script>
    <script src="template/static//js/app.js?1"></script>

    {% block javascript %}{% endblock %}

  </body>
</html>


