{% extends "base.html" %}


{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit" style="align-items: center; vertical-align: middle;">
        <div class="row" style="align-items: center; vertical-align: middle;">
          <div class="span3">
            <img src="{{ url_for('static', path='/img/sopho_brain1.png') }}" width="300px">
          </div>
          <div class="span6 offset1">
            <h1 style="margin-top:75px">Let ChatGPT4 Teach you Books!</h1>
            <p>Click a book below to begin</p>
          </div>
        </div>
      </div>


      <div>
        <ul class="thumbnails" id="book_list"></ul>
      </div>

      <div id="book_content">

      </div>
{% endblock %}
