{% extends "base.html" %}


{% block content %}
<div class="row" style="padding: 20px;">
  <span class="span11">
    <div id="back_breadcrumb"><img src="https://m.media-amazon.com/images/I/71tG+8MoHgL._SY466_.jpg" width="100px"> <a href="/book?id=2">&lt;&lt; Back to Skin in the Game: Hidden Asymmetries in Daily Life (Incerto)</a></div>  </span>
</div>


<div class="row">
  <span class="span11" style="border:1px solid black;">
    <div class="row">
        <p>Correct!
        <p style="text-align: right;">Score 45 / 100      
        <p><a href="">Here is the explanation for the previous answer</a></p>
      <hr>
      <p>Here is the text of the current question</p>
      <button id="back_search_btn" class="btn">Answer A</button>
      <button id="back_search_btn" class="btn">Answer B</button>
      <button id="back_search_btn" class="btn">Answer C</button>
      <button id="back_search_btn" class="btn">Answer D</button>
    </div>
  </span>
</div>



{% endblock %}

{% block javascript %}

{% endblock %}
